<tr>
  <td>
    <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix">http://</span>
      </div>
      <div class="small-9 columns">
        <%= f.input_field :uri %>
      </div>
    </div>
  </td>
  <td>
    <label for="_destroy">
      <%= f.input_field :_destroy, as: :boolean, class: 'check_box', style: "display: none;", id: "_destroy" %>
      <span class="custom checkbox"></span>
    </label>
  </td>
</tr>
