<tr>
  <td>
    <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix">http://</span>
      </div>
      <div class="small-6 columns">
        <%= f.input_field :url %>
      </div>
      <div class="small-3 columns">
        <%= f.input_field :media_type, label: "Type", collection: MEDIA_TYPES, prompt: "Select Type" %>
      </div>
    </div>
  </td>
  <td>
    <label for="_delete">
      <%= f.check_box :_destroy, class: 'check_box' %>
      <span class="custom checkbox"></span>
    </label>
    
  </td>
</tr>
