<% present episode do |episode_presenter| %>
  <div class="episode">
    <h2><%= episode_presenter.linked_title(params[:controller]) %></h2>
    <p class="meta"><%= episode_presenter.published_at %><%= episode_presenter.duration_in_words %></p>
    <%= episode_presenter.description %>
  </div><!-- /episode -->
<% end %>