<div class="form-head">
  <h3>Introduced Title</h3>
</div>

<%= f.input :name %>

<%= f.input :url %>

<div class="control-group">
  <div class="controls">
    <%= f.check_box :_destroy, class: 'check_box' %>
    <span class="help-inline">Remove Introduced Title</span>
  </div>
</div><!-- /control-group -->
