<tr id="show_note_<%= f.object.id %>">
  <td class="handle"><i class="icon-move"></i></td>
  <td><%= f.input_field :name, class: "input-xlarge" %></td>
  <td><%= f.input_field :url, class: "input-xlarge" %></td>
  <td>
    <label for="_destroy">
      <%= f.input_field :_destroy, as: :boolean, class: 'check_box', style: "display: none;", id: "_destroy" %>
      <span class="custom checkbox"></span>
    </label></td>
</tr>
