<tr id="show_note_<%= f.object.id %>">
  <td class="handle"><i class="icon-move"></i></td>
  <td><%= f.input_field :name %></td>
  <td><%= f.input_field :url %></td>
  <td><%= f.check_box :_destroy, class: 'check_box' %></td>
</tr>
