<% content_for :banner do %>
<ul class="small-block-grid-3">
	<% @podcasts.each do |podcast| %>
    <li>
      <% if podcast.artwork.present? %>
        <div>
        <%= link_to image_tag(podcast.artwork.url(:medium)), podcast, class: "th radius" %>
        </div>
      <% end %>
    </li><!-- /span -->
  <% end %>
</ul><!-- /large-block-grid-4 -->
<% end %>

<%= render @episodes %>

<%= paginate @episodes %>