<% present @page do |page_presenter| %>
  <% title page_presenter.title %>

  <div class="well" id="page">
  	<h2><%= page_presenter.title %></h2>
  	<%= page_presenter.content %>
  </div><!-- /well -->
<% end %>