// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

.panel_contents form {
	li {
		margin-top: 10px;
		list-style: none
	}
	fieldset { 
		padding-top: 0;
		ol > li { padding-top: 0 }
	}
}