@import "bootstrap_and_overrides";
@import "bootstrap-datetimepicker.min";
@import "dataTables/jquery.dataTables.bootstrap";
@import "podlove-web-player";
@import "morris";
@import "episodes";
@import "dashboard";
@import "analytics";

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;;
	font-weight: 300;
	p {
		font-size: 14px;
		line-height: 24px;
		color: rgb(102, 102, 102);
	}
	a:hover {
		text-decoration: none;
	}
}

h1{
	font-size: 2em;
}
h2{
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 5px;
	a {
		color: rgb(102, 102, 102);
	}
	a:hover {
		color: #258fb8;
	}
}
h3{
	font-weight: normal;
	font-size: 1.4em;
}
h4{
	color: #666;
	font-size: 1.1em;
	margin-top: 0
}
a{
	text-decoration: none;
	outline-width: 0;
	color: #258fb8;
	font-weight: 400;
}

html, body {
	text-align: justify;
	height: 100%;
}

.alert {
	text-align: center;
}

#holder {
	min-height: 100%;
	position:relative;
	.container .row {
		padding-bottom: 40px;
		.span11 .row {
			padding-top: 0
		}
	}
}

.span11 { 
	margin-top: -10px;
	margin-left: 50px;
	.span7 { margin-left: 20px }
}

#header {
	border: none;
	height: 30px;
	line-height: 35px;
	padding: 10px 0;
	height: auto;
	position: relative;
	padding-bottom: 0px;
	a{
		color: #666;
		&:hover {
			color: #258fb8;
		}
	}
	h1{
		float: left;
		font-weight: 300;
		font-size: 35px;
		margin-bottom: 9px;
		@media screen and (max-width: 980px ) and (min-width: 700px) {
			margin-left: 20px;
		}
		@media screen and (max-width: 980px) {
			float: none;
		}
	}
}

#main-nav {
	float: left;
	margin-top: 10px;
	@media screen and (max-width: 980px){
		float: none;
		margin-left: 20px;
		margin-top: 15px;
	}
	>ul {
		margin-top: 5px;
		margin-bottom: 5px;
		@media screen and (max-width: 700px){
			display: none;
		}
		>li {
			margin-left: 30px;
			display: inline-block;
			line-height: 40px;
			&:hover {
				>a{
					color: #258fb8;
				}
			}
			>a{
				font-size: 14px;
				margin-top: -38px;
				&:after {
					content: "\f078";
					color: #ccc;
					font: 12px FontAwesome;
					padding-left: 10px;
				}
				&:only-child {
					&:after{
						content: "";
					}
				}
			}
		}
		li{
			position: relative;
			&:hover{
				>ul{
					display: block;
				}
			}
		}
	}
}

#mobile-nav {
	display: none;
	height: 37px;
	position: relative;
	@media screen and (max-width: 700px) {
		display: block;
	}
	a {
		display: block;
	}
	.button{
		cursor: pointer;
	}
	.container{
		display: none;
	}
	.menu {
		line-height: 30px;
		position: relative;
		width: 100%;
		.button {
			background: #f2f2f2;
			border: 1px solid #ddd;
			color: #999;
			padding: 0 60px 0 10px;
			position: relative;
			-webkit-border-radius: 5px;
  		-moz-border-radius: 5px;
  		-ms-border-radius: 5px;
  		-o-border-radius: 5px;
  		border-radius: 5px;
			&:hover {
				color: #999;
			}
			&.on {
				color: #666;
				-webkit-border-radius: 5px;
 				-moz-border-radius: 5px 5px 5px 0px;
 				-khtml-border-radius: 5px 5px 5px 0px;
 				border-radius: 5px 5px 5px 0px;
				&:before {
					content: "\f077";
				}
			}
			&:before {
				content: "\f078";
				color: #ddd;
				font: 16px FontAwesome;
				line-height: 30px;
				position: absolute;
				top: 0;
				right: 40px;
			}
		}
		.container {
			background: #f2f2f2;
			border: 1px solid #ddd;
			border-top: none;
			position: absolute;
			top: 31px;
			z-index: 1;
			-webkit-border-radius: 0;
 			-moz-border-radius: 0 0 5px 5px;
 			-khtml-border-radius: 0 0 5px 5px;
 			border-radius: 0 0 5px 5px;
			ul {
				list-style: none;
				ul {
					margin-left: 20px;
				}
			}
			a {
				padding: 0 10px;
			}
		}
	}
	.search {
		top: 0;
		right: 0;
		.button {
			background: #ddd;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 1px;
			right: -1px;
			-webkit-border-radius: 0;
 			-moz-border-radius: 0 5px 5px 0;
 			-khtml-border-radius: 0 5px 5px 0;
 			border-radius: 0 5px 5px 0;
			&:before {
				content: "\f002";
				color: #f2f2f2;
				font: 20px FontAwesome;
				line-height: 30px;
				position: absolute;
				top: 0;
				left: 7px;
			}
			&.on {
				background: #ccc;
				&:before {
					content: "\f00d";
				}
			}
		}
		.container {
			position: absolute;
			right: 51px;
			z-index: 1;
		}
		input[type="text"] {
			background: #fff;
			border: 1px solid #ddd;
			border-right: none;
			color: #999;
			font: 13px;
			height: 30px;
			width: 100%;
			padding: 0 10px;
			-webkit-border-radius: 5px;
 			-moz-border-radius: 5px 0 0 5px;
 			-khtml-border-radius: 5px 0 0 5px;
 			border-radius: 5px 0 0 5px;
		}
	}
}

#sub-nav {
	position: absolute;
	top: 20px;
	right: 0;
	@media screen and (max-width: 980px) {
		top: 25px;
	}
	@media screen and (max-width: 700px) {
		display: none;
	}
	>ul {
		margin-top: 5px;
		@media screen and (max-width: 980px) {
			margin-top: 50px;
		}
		@media screen and (max-width: 700px) {
			display: none;
		}
		margin-right: 75px;
		>li {
			margin-left: 30px;
			display: inline-block;
			&:hover{
				>a{
					color: #258fb8;
				}
			}
			>a {
				font-size: 14px;
				margin-top: -38px;
				&:after {
					content: "\f078";
					color: #ccc;
					font: 12px FontAwesome;
					padding-left: 10px;
				}
				&:only-child {
					&:after {
						content: "";
					}
				}
			}
		}
	}
	.search {
		float: left;
		margin-top: 5px;
		position: relative;
		width: 100px;
		@media screen and (max-width: 980px) {
			margin-top: 50px;
			margin-bottom: 0px;
		}
		&:before {
			content: "\f002";
			color: #ccc;
			font: 18px FontAwesome;
			line-height: 30px;
			position: absolute;
			top: 0;
			right: 125px;
		}
		input[type="text"] {
			color: #999;
			border: 1px solid #ddd;
			padding: 6px 15px 6px 35px;
			width: 100px;
			-webkit-border-radius: 15px;
 			-moz-border-radius: 15px;
 			-ms-border-radius: 15px;
 			-o-border-radius: 15px;
 			border-radius: 15px;
			&:focus, &:active {
				background: #fff;
				border-top: 1px solid #ccc;
				color: #666;
				outline: none;
			}
		}
	}
}

.nav {
	a {
		font-size: 14px;
	}
	p {
		padding-top: 7px;
		margin-bottom: 5px;
	}
}

#banner_alt { display: none }

.hero-unit { 
	padding: 50px 40px;
	margin-bottom: 20px;
	.thumbnails { 
		margin: 0;
		li.span3, li.span2 {
			margin: 0 0 0 5%;
			.thumbnail { 
				width: 180px;
				margin: 0 }	
		}
		li.span5 {
			margin: 0;
			h2 { 
				font-size: 35px;
				line-height: 38px;
				a {
					color: rgb(51, 51, 51);
				}
			}
			h2:after {
				-webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
    		-moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
    		-webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 		100%);
    		-moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
    		height: 5px;
    		width: 100%;
    		position: relative;
    		content: '';
    		top: 0;
    		left: 0;
    		display: block;
    		border-top: 1px solid rgba(0, 0, 0, 0.15);
			}
		}
	}
}

.span7 {
	margin-left: 50px;
	h2:after {
		-webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
    -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
    height: 5px;
    width: 100%;
    position: relative;
    content: '';
    top: 0;
    left: 0;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
	}
	.pagination {
		margin-top: 0
	}
}

.span4 {
	margin-top: 10px;
	ul, dl {
		margin: 0 0 0 5px;
		font-size: 14px;
	}
	a.flattr_button {
		margin-left: 5px;
		img { margin-top: 5px }
	}
	h3:after {
		-webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
    -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
    height: 5px;
    width: 100%;
    position: relative;
    content: '';
    top: -2px;
    left: 0;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
	}
}

.hero-unit {
	background-color: white;
}

.well {
	background-color: white;
	border: none;
	box-shadow: none;
	margin-bottom: 0px;
}

.form-actions {
	background-color: white;
}

#page_content, #episode_chapter_marks,
#episode_description, #podcast_description {
	width: 60%;
}

.pager {
	padding-right: 30px
}

.footer {
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	overflow: visible;
	p {
		padding: 10px 10px 9px;
		margin: 0px;
		font-size: 13px;
		line-height: 18px;
	}

}

@media only screen and (min-width: 1024px) {
	body {
		margin: auto;
		.navbar .container { width: 940px; }
		.container { width: 940px; }
		.row { width: 960px; }
		.span11 {
			width: 860px;
		}
		.span7 {
			width: 540px;
		}
		.span4 {
			width: 300px;
			margin-left: 20px;
		}
		.span3 {
			width: 220px;
		}
	}
}

@media only screen and (max-width: 980px) {
	#holder .container .row { padding-top: 20px; }
	.hero-unit .thumbnails {
		li.span3 {
			margin-left: 20px;
			.thumbnail {
				width: 160px;
				height: 160px;
				img {
					width: 160px;
				}
			}
		}
		li.span5 {
			margin-left: 20px;
		}
	}
	#page_content, #podcast_description, #episode_description,
	#episode_chapter_marks {
		width: 80%;
	}
}

@media only screen and (max-width: 768px) {
	.hero-unit .thumbnails {
		li.span3 {
			margin-left: 20px;
			.thumbnail {
				width: 160px;
				height: 160px;
				img {
					width: 160px;
				}
			}
		}
		li.span5 {
			margin-left: 20px;
		}
	}
}


@media only screen and (max-width: 766px) {
	body { padding: 0 }
	#holder { padding: 0 20px }
	.span11, .span7 {
		margin-left: 0;
	}
	#sidebar { display: none; }
}

@media only screen and (max-width: 690px) {
	#holder .container .row { padding-top: 0; }
	#sidebar { display: none; }
	.span11, .span7 {
		margin-left: 0;
	}
	.hero-unit {
		padding: 25px 8px;
		.thumbnails {
			li.span3 {
				margin-left: 3%;
				.thumbnail {
					width: 140px;
					height: 140px;
					img {
						width: 140px;
					}
				}
			}
		}
	}
}


@media only screen and (max-width: 560px) {
	#holder .container .row { padding-top: 0; }
	#sidebar { display: none; }
	.span11, .span7 {
		margin-left: 0;
	}
	.hero-unit {
		padding: 25px 8px;
		.thumbnails {
			li.span3 {
				margin-left: 4%;
				.thumbnail {
					width: 120px;
					height: 120px;
					img {
						width: 120px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	#banner { display: none }
	#banner_alt { display: block }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table tbody tr td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 40%; 
	}
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	#podcast_table {
		td:nth-of-type(1):before { content: "Artwork"; }
		td:nth-of-type(2):before { content: "Title"; }
		td:nth-of-type(3):before { content: "Publish Date"; }
		td:nth-of-type(4):before { content: ""; }
	}
	#episode_table {
		td:nth-of-type(1):before { content: "#"; }
		td:nth-of-type(2):before { content: "Title"; }
		td:nth-of-type(3):before { content: "Publish Date"; }
		td:nth-of-type(4):before { content: ""; }
	}
	#blogroll_table {
		td:nth-of-type(1):before { content: "Name"; }
		td:nth-of-type(2):before { content: "URL"; }
		td:nth-of-type(3):before { content: "Description"; }
		td:nth-of-type(4):before { content: ""; }
	}
	#pages_table {
		td:nth-of-type(1):before { content: "Title"; }
		td:nth-of-type(2):before { content: "Last Updated At"; }
		td:nth-of-type(3):before { content: ""; }
	}
	#user_table {
		td:nth-of-type(1):before { content: "E-Mail"; }
		td:nth-of-type(2):before { content: "Last Signed In"; }
		td:nth-of-type(3):before { content: "Updated At"; }
		td:nth-of-type(4):before { content: ""; }
	}
}

#page h3 {
	padding: 5px 0;
}