@import "foundation_and_overrides";
@import "font-awesome";
@import "foundation-datepicker";
@import "foundation-datetimepicker";
@import "dataTables/jquery.dataTables.bootstrap";
@import "morris";

h1, h2, h3 {
	color: #333;
	a { color: #333; }
	a:hover { color: #258fb8; }
}

a {
	text-decoration: none;
	outline-width: 0;
	color: #258fb8;
	font-weight: 400;
	&:hover { color: #005580; }
}

html, body {
	text-align: justify;
	height: 100%;
}

.clearfix { @include clearfix; }

.alert-box, .alert-message, .success-message { text-align: center; }

.alert-message {
	@include alert-base;
	@include alert-style(#F2DEDE);
	color: #B94A48;
	margin-bottom: 15px;
}

.success-message {
	@include alert-base;
	@include alert-style(#DFF0D8);
	color: #468847;
}

.muted { color: #999999 }

.input {
	margin-bottom: 5px;
}
.input.field_with_hint {
	margin-bottom: 10px;
	input { margin-bottom: 4px }
	.hint {
		margin-left: 5px;
		display: block;
		font-size: 14px;
	}
}

textarea { height: auto; }
.row.checkbox-row {
	margin-bottom: 20px;
	&:before { clear: both; }
}
.custom.checkbox { margin-left: 15px; }

[data-clearing] {
	list-style: none;
	margin-bottom: 20px;
	margin-left: 20px;
	li {
		float: left;
		margin-right: 20px;
		a { height: 188px }
	}
}

#wrap {
	min-height: 100%;
	position: relative;
}

#content { padding-bottom: 60px; }

#header {
	border: none;
	height: 30px;
	line-height: 35px;
	padding: 10px 0;
	height: auto;
	position: relative;
	padding-bottom: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	h1{
		float: left;
		margin-bottom: 9px;
		@media screen and (max-width: 980px ) and (min-width: 700px) {
			margin-left: 20px;
		}
		@media screen and (max-width: 980px) {
			float: none;
		}
	}
}

table { width: 100%; }

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

#main-nav {
	float: left;
	margin-top: 10px;
	@media screen and (max-width: 980px) {
		margin-left: 20px;
		margin-top: 0;
	}
	> ul {
		margin-top: 5px;
		margin-bottom: 5px;
		@media screen and (max-width: 700px) {
			display: none;
		}
		> li {
			margin-left: 30px;
			display: inline-block;
			line-height: 40px;
			&:hover {
				> a {
					color: #258fb8;
				}
			}
			> a {
				color: #666;
				font-size: 14px;
				margin-top: -38px;
				&:after {
					content: "\f078";
					color: #ccc;
					font: 12px FontAwesome;
					padding-left: 10px;
				}
				&:only-child {
					&:after{
						content: "";
					}
				}
			}
		}
		li {
			position: relative;
			&:hover {
				> ul {
					display: block;
				}
			}
		}
	}
}

#mobile-nav {
	display: none;
	height: 37px;
	position: relative;
	@media screen and (max-width: 700px) {
		display: block;
	}
	a {
		display: block;
		color: #666;
		&:hover { color: #2795b6 }
	}
	.button {
		cursor: pointer;
		border: none;
		line-height: 30px;
		font-size: 14px;
		font-weight: normal;
		text-align: left;
	}
	.container {
		display: none;
	}
	.menu {
		line-height: 30px;
		position: relative;
		width: 100%;
		.button {
			background: #f2f2f2;
			border: 1px solid #ddd;
			color: #999;
			padding: 0 60px 0 10px;
			position: relative;
			-webkit-border-radius: 5px;
  		-moz-border-radius: 5px;
  		-ms-border-radius: 5px;
  		-o-border-radius: 5px;
  		border-radius: 5px;
			&:hover {
				color: #999;
			}
			&.on {
				color: #666;
				-webkit-border-radius: 5px;
 				-moz-border-radius: 5px 5px 5px 0px;
 				-khtml-border-radius: 5px 5px 5px 0px;
 				border-radius: 5px 5px 5px 0px;
				&:before {
					content: "\f077";
				}
			}
			&:before {
				content: "\f078";
				color: #ddd;
				font: 16px FontAwesome;
				line-height: 30px;
				position: absolute;
				top: 0;
				right: 40px;
			}
		}
		.container {
			background: #f2f2f2;
			border: 1px solid #ddd;
			border-top: none;
			position: absolute;
			top: 31px;
			z-index: 1;
			-webkit-border-radius: 0;
 			-moz-border-radius: 0 0 5px 5px;
 			-khtml-border-radius: 0 0 5px 5px;
 			border-radius: 0 0 5px 5px;
			ul {
				list-style: none;
				ul {
					margin-left: 20px;
				}
			}
			a {
				padding: 0 10px;
			}
		}
	}
	.search {
		top: 0;
		right: 0;
		.button {
			background: #ddd;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 1px;
			right: -1px;
			-webkit-border-radius: 0;
 			-moz-border-radius: 0 5px 5px 0;
 			-khtml-border-radius: 0 5px 5px 0;
 			border-radius: 0 5px 5px 0;
			&:before {
				content: "\f002";
				color: #f2f2f2;
				font: 20px FontAwesome;
				line-height: 30px;
				position: absolute;
				top: 0;
				left: 7px;
			}
			&.on {
				background: #ccc;
				&:before {
					content: "\f00d";
				}
			}
		}
		.container {
			position: absolute;
			right: 51px;
			z-index: 1;
		}
		form { margin: 0 0 1em }
		input[type="text"] {
			display: inline-block;
			box-sizing: content-box;
			background: #fff;
			border: 1px solid #ddd;
			border-right: none;
			color: #999;
			font: 13px;
			height: 30px;
			width: 100%;
			padding: 0 10px;
			margin-bottom: 10px;
			line-height: 20px;
			vertical-align: middle;
			-webkit-border-radius: 5px;
 			-moz-border-radius: 5px 0 0 5px;
 			-khtml-border-radius: 5px 0 0 5px;
 			border-radius: 5px 0 0 5px;
		}
	}
}

#sub-nav {
	float: right;
	margin-top: 10px;
	@media screen and (max-width: 980px) {
		margin-top: 0;
	}
	@media screen and (max-width: 700px) {
		display: none;
	}
	> ul {
		@media screen and (max-width: 700px) {
			display: none;
		}
		margin-top: 5px;
		margin-bottom: 5px;
		margin-right: 75px;
		> li {
			line-height: 40px;
			margin-left: 30px;
			display: inline-block;
			&:hover{
				> a {
					color: #258fb8;
				}
			}
			> a {
				color: #666;
				font-size: 14px;
				&:after {
					content: "\f078";
					color: #ccc;
					font: 12px FontAwesome;
					padding-left: 10px;
				}
				&:only-child {
					&:after {
						content: "";
					}
				}
			}
		}
	}
	.search {
		float: left;
		margin-top: 10px;
		margin-right: 20px;
		position: relative;
		width: 100px;
		&:before {
			content: "\f002";
			color: #ccc;
			font: 18px FontAwesome;
			line-height: 30px;
			position: absolute;
			top: 0;
			right: 125px;
		}
		input[type="text"] {
			color: #999;
			border: 1px solid #ddd;
			padding: 6px 15px 6px 35px;
			width: 150px;
			-webkit-border-radius: 15px;
 			-moz-border-radius: 15px;
 			-ms-border-radius: 15px;
 			-o-border-radius: 15px;
 			border-radius: 15px;
			vertical-align: middle;
			display: inline-block;
		}
	}
}

.sub-nav {
	margin-left: auto;
	margin-right: auto;
	dd {
		padding-left: 12px;
		padding-right: 12px;
	}
}

.nav {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	list-style: none;
	p {
		padding-top: 7px;
		margin-bottom: 5px;
		font-size: 14px;
	}
}

.nav-tabs {
	border-bottom: 1px solid #ddd;
	&::before, &::after {
		display: table;
		content: "";
		line-height: 0;
	}
	&::after { clear: both }
	& > li {
		margin-bottom: -2px;
		float: left;
		& > a {
			padding-top: 8px;
			padding-bottom: 8px;
			line-height: 20px;
			border: 1px solid transparent;
			-webkit-border-radius: 4px 4px 0 0;
			-moz-border-radius: 4px 4px 0 0;
			border-radius: 4px 4px 0 0;
			display: block;
			padding-right: 12px;
			padding-left: 12px;
			margin-right: 2px;
		}
		& > a:hover {
			border-color: #eeeeee #eeeeee #dddddd;
			background-color: #eeeeee;
		}
	}
	& > .active {
		&	> a, & > a:hover, &  > a:focus {
			color: #555555;
			background-color: #ffffff;
			border: 1px solid #ddd;
			border-bottom-color: transparent;
			cursor: default;
		}
	}
}

#banner {
	margin: 50px auto;
	li { padding-bottom: 0; }
	div {
		display: block;
		width: 188px;
		margin: 0 auto;
	}
	.th { height: 188px; }
	h2 {
		font-size: 35px;
		margin-bottom: 10px;
	}
	p {
		font-size: 14px;
		width: 380px;
	}
}

#banner_alt {
	margin-left: 20px;
	margin-right: 20px;
}

#episodes { margin-left: 30px; }

#admin {
	margin-left: 30px;
	margin-right: 30px;
}

aside {
	padding-top: 15px;
	margin-right: 30px;
	text-align: left;
	.sidebar {
		padding: 5px 19px 19px;
		ul, dl {
			margin: 0 0 0 5px;
			font-size: 14px;
			a {
				margin-left: 5px;
				display: inline-block;
				&:hover { color: #005580; }
			}
		}
		dt { margin-bottom: 0 }
		dd { margin-left: 10px }
		.side-nav, .flattr_button, dl {
			margin-left: 5px;
		}
	}
}

.form-actions {
	margin-top: 10px;
	float: right;
}

.button.primary {
	background-color: #006DCC;
	border-color: #0044cc;
	&:hover { background-color: #0044cc }
}

.button.inverse {
	background-color: #363636;
	border-color: #333;
	&:hover { background-color: #333 }
}

.pager {
	ul {
		list-style: none;
		li > a {
			display: inline-block;
			padding: 5px 14px;
			background-color: #fff;
			border: 1px solid #ddd;
			@include radius(15px);
		}
		li > a:hover {
			background-color: #f5f5f5;
		}
		.previous > a { float: left; }
		.next > a { float: right;}
	}
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	overflow: visible;
	p {
		padding: 10px 10px 0;
		margin: 0px;
		line-height: 18px;
	}
}

@media only screen and (max-width: 766px) {
	#wrap { padding: 0 20px }
	#episodes { margin-left: 0 }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	table.responsive {
		max-width: 100%;
		thead, tbody, th, td, tr {
			display: block;
			box-sizing: content-box;
			&::before { box-sizing: content-box }
			&::after { box-sizing: content-box }
		}
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		tbody tr td {
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 40%;
			vertical-align: top;
			display: block;
		}
		td:before {
			position: absolute;
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}
	}
	#podcast_table {
		td:nth-of-type(1):before { content: "Artwork"; }
		td:nth-of-type(2):before { content: "Name"; }
		td:nth-of-type(3):before { content: "# Episodes"; }
		td:nth-of-type(4):before { content: ""; }
	}
	#blogroll_table {
		td:nth-of-type(1):before { content: "Name"; }
		td:nth-of-type(2):before { content: "URL"; }
		td:nth-of-type(3):before { content: "Description"; }
		td:nth-of-type(4):before { content: ""; }
	}
	#pages_table {
		td:nth-of-type(1):before { content: "Title"; }
		td:nth-of-type(2):before { content: "Last Updated At"; }
		td:nth-of-type(3):before { content: ""; }
	}
	#user_table {
		td:nth-of-type(1):before { content: "E-Mail"; }
		td:nth-of-type(2):before { content: "Last Signed In"; }
		td:nth-of-type(3):before { content: "Updated At"; }
		td:nth-of-type(4):before { content: ""; }
	}
}

#page h3 {
	padding: 5px 0;
}

@import "podlove-web-player";
@import "episodes";
@import "dashboard";
@import "analytics";
