@import "bootstrap_and_overrides";

html, body {
	text-align: justify;
	height: 100%;
}

#holder {
	min-height: 100%;
	position:relative;
	.container .row {
		padding-top: 60px;
		padding-bottom: 40px;
		.span11 .row {
			padding-top: 0
		}
	}
}

.span11 { 
	margin-top: -10px;
	margin-left: 50px;
	.span7 { margin-left: 20px }
}

.nav p {
	padding-top: 8px;
}

#banner_alt { display: none }

.hero-unit { 
	padding: 50px 40px;
	.thumbnails { 
		margin: 0;
		li.span3, li.span2 {
			margin: 0 0 0 5%;
			.thumbnail { 
				width: 180px;
				margin: 0 }	
		}
		li.span4 {
			margin: 0;
			h2 { 
				font-size: 40px;
				line-height: 44px;
				a {
					color: rgb(51, 51, 51);
				}
			}
			h2:after {
				-webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
    		-moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
    		-webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 		100%);
    		-moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
    		height: 5px;
    		width: 100%;
    		position: relative;
    		content: '';
    		top: 0;
    		left: 0;
    		display: block;
    		border-top: 1px solid rgba(0, 0, 0, 0.15);
			}
		}
	}
}



.span7 {
	margin-left: 50px;
	h2:after {
		-webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
    -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
    height: 5px;
    width: 100%;
    position: relative;
    content: '';
    top: 0;
    left: 0;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
	}
	.pagination {
		margin-top: 0
	}
}

.span4 {
	dl {margin: 0}
	h3:after {
		-webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
    -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
    height: 5px;
    width: 100%;
    position: relative;
    content: '';
    top: -2px;
    left: 0;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
	}
}

.description:after {
	-webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
  -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
  height: 5px;
  width: 100%;
  position: relative;
  content: '';
  top: -2px;
  left: 0;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.player {
	margin: 10px 10px 5px 0;
}

.chapters {
	margin-bottom: 10px;
	ul { list-style: none }
	.chapterlist { display: none }
}

.download:after {
	-webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
 	-moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
 	-webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
 	-moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
 	height: 5px;
 	width: 100%;
 	position: relative;
 	content: '';
 	top: 5px;
 	left: 0;
 	display: block;
 	border-top: 1px solid rgba(0, 0, 0, 0.15);
}

#page_content, #episode_chapter_marks {
	width: 60%;
}
#episode_description, #podcast_description {
	width: 90%
}

.footer {
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	color: #999;
	background-color: #2C2C2C;
	overflow: visible;
	-webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	p {
		padding: 11px 10px 9px;
		margin: 0px;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		margin: auto;
		.navbar .container { width: 940px; }
		.container { width: 940px; }
		.row { width: 960px; }
		.span11 {
			width: 860px;
		}
		.span7 {
			width: 540px;
		}
		.span4 {
			width: 300px;
			margin-left: 20px;
		}
		.span3 {
			width: 220px;
		}
	}
}

@media only screen and (max-width: 980px) {
	#holder .container .row { padding-top: 20px; }
	.hero-unit .thumbnails {
		li.span3 {
			margin-left: 20px;
			.thumbnail {
				width: 160px;
				height: 160px;
				img {
					width: 160px;
				}
			}
		}
		li.span4 {
			margin-left: 20px;
		}
	}
	.span11 .row {
		.span7, .span4 {
			float: none;
			width: 662px
		}
	}
	#page_content, #podcast_description, #episode_description,
	#episode_chapter_marks {
		width: 80%;
	}
}

@media only screen and (max-width: 768px) {
	.hero-unit .thumbnails {
		li.span3 {
			margin-left: 20px;
			.thumbnail {
				width: 160px;
				height: 160px;
				img {
					width: 160px;
				}
			}
		}
		li.span4 {
			margin-left: 20px;
		}
	}
	.span11 .row {
		.span7, .span4 {
			width: 100%;
			margin-left: 0
		}
	}
}


@media only screen and (max-width: 766px) {
	body { padding: 0 }
	#holder { padding: 0 20px }
	.span11, .span7 {
		margin-left: 0;
	}
	#sidebar { display: none; }
}

@media only screen and (max-width: 690px) {
	#holder .container .row { padding-top: 0; }
	#sidebar { display: none; }
	.span11, .span7 {
		margin-left: 0;
	}
	.hero-unit {
		padding: 25px 8px;
		.thumbnails {
			li.span3 {
				margin-left: 3%;
				.thumbnail {
					width: 140px;
					height: 140px;
					img {
						width: 140px;
					}
				}
			}
		}
	}
}


@media only screen and (max-width: 560px) {
	#holder .container .row { padding-top: 0; }
	#sidebar { display: none; }
	.span11, .span7 {
		margin-left: 0;
	}
	.hero-unit {
		padding: 25px 8px;
		.thumbnails {
			li.span3 {
				margin-left: 4%;
				.thumbnail {
					width: 120px;
					height: 120px;
					img {
						width: 120px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	#banner { display: none }
	#banner_alt { display: block }
}
