td.ok { color: #468847 }
td.alert { 
  color: #c09853;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
td.warning { color: #b94a48 }

#dashboard_podcast_table {
  td, th {
    text-align: center;
  }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  #dashboard_podcast_table {
    td, th {
      text-align: left;
    }
    td:nth-of-type(1):before { content: "Name"; }
    td:nth-of-type(2):before { content: "# Episodes"; }
    td:nth-of-type(3):before { content: "Last Episode"; }
    td:nth-of-type(4):before { content: "Next Episode"; }
    td:nth-of-type(5):before { content: "Subscribers"; }
  }
  #dashboard_commit_table {
    td:nth-of-type(1):before { content: "Message"; }
    td:nth-of-type(2):before { content: "Date"; }
  }
}
