h4.episode-num { margin-bottom: 0 }

.description {
  margin-bottom: 20px;
}

.download {
  margin-top: 10px;
  margin-bottom: 20px;
}

table#links {
  margin-bottom: 10px;
  td {
    padding: 0 8px 0;
    vertical-align: bottom;
  }
} 