.episode {
  padding: 15px 0;
  h2 { margin-bottom: 5px; }
  h4 { margin-top: 0 }
  h4.episode-num { margin-bottom: 0 }
}

.description {
  margin-bottom: 20px;
}

.downloads {
  margin-top: 10px;
  margin-bottom: 10px;
}

#links {
  margin-bottom: 0;
  td {
    padding: 0 8px 0;
    vertical-align: bottom;
    p {
      margin: 5px 0;
      font-size: 14px; 
    }
  }
}

.podlovewebplayer_meta {
  .bigplay { 
    width: 75px;
    height: 75px;
  }
  .episodetitle {
    padding-top: 10px;
  }
  .subtitle { 
    margin-left: 0;
    margin-top: 5px;
  }
  @media only screen and (max-width: 400px) {
    .subtitle { display: none; }
    .togglers { top: 25px; }
  }
}

table .handle {
  cursor: pointer;
  width: 5px;
  padding-top: 12px
}