<% title "Edit #{@podcast.name}" %>

<%- model_class = @podcast.class -%>

<div class="well">
	<h2><%=t '.title', default: t('helpers.titles.edit', model: model_class.model_name.human,
                                 default: "Edit #{model_class.model_name.human}") %></h2>

	<br />

	<%= simple_form_for @podcast, html: { class: 'form-horizontal' } do |f| %>
		<%= render 'form', f: f %>
	<% end %>

</div><!-- /well -->
